Adafruit-GPIO==1.0.4
Adafruit-PureIO==0.2.3
appdirs==1.4.3
automationhat==0.1.0
backports-abc==0.5
blinker==1.3
blinkt==0.1.2
buttonshim==0.0.2
cachetools==3.1.1
Cap1xxx==0.1.3
certifi==2017.4.17
chardet==3.0.4
click==6.6
colorama==0.3.7
colorzero==1.1
colour==0.1.5
cryptography==1.7.1
drumhat==0.1.0
enum34==1.1.6
envirophat==1.0.0
ExplorerHAT==0.4.2
Flask==0.12.1
fourletterphat==0.1.0
futures==3.1.1
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-speech==1.0.0
google-cloud-texttospeech==0.4.0
googleapis-common-protos==1.6.0
gpiozero==1.5.0
grpcio==1.21.1
idna==2.8
itsdangerous==0.24
Jinja2==2.8
keyring==10.1
keyrings.alt==1.3
MarkupSafe==0.23
matrix-io-proto==0.0.10
matrix-lite==0.0.3
microdotphat==0.2.1
mote==0.0.4
motephat==0.0.2
numpy==1.12.1
oauthlib==2.0.1
packaging==16.8
pantilthat==0.0.7
pbkdf2==1.3
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
picraft==1.0
piglow==1.2.4
pigpio==1.38
pijuice-base==1.5
Pillow==4.0.0
protobuf==3.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAudio==0.2.11
PyBluez==0.22
pycrypto==2.6.1
pygame==1.9.3
pygobject==3.22.0
pyinotify==0.9.6
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyserial==3.2.1
python-apt==1.1.0b5
pytz==2019.1
pyxdg==0.25
pyzmq==16.0.2
rainbowhat==0.1.0
requests==2.22.0
requests-oauthlib==0.7.0
RPi.GPIO==0.6.5
rsa==4.0
RTIMULib==7.2.1
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
sense-hat==2.2.0
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
skywriter==0.0.7
sn3218==1.2.7
spidev==3.3
ssh-import-id==5.6
tornado==4.5.1
touchphat==0.0.1
twython==3.4.0
unicornhathd==0.0.4
urllib3==1.25.3
urwid==1.3.1
Werkzeug==0.11.15
wifi==0.3.8
